// FINDING :: START

mixin swiperFindingContent()
  each val, idx in [1,2,3,4]
    .swiper-slide
      .slider__content
        .slider__content-left.viewport-hide-js(data-animation-name='slideInLeft')
          .slider__text-wrapper
            if(idx === 0)
              p.slider__text!= "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
              p.slider__text!= "Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officiae deserunt mollit anim id est laborum."
            else if (idx === 1)
              p.slider__text!= "Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officiae deserunt mollit anim id est laborum."
            else if (idx === 2)
              p.slider__text!= "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
            else
              p.slider__text!= "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
              p.slider__text!= "Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officiae deserunt mollit anim id est laborum."

        .slider__content-right.viewport-hide-js(data-animation-name='slideInRight')
          img.slider__img(src="./img/img-slider-finding-" + idx + ".png" srcset="./img/img-slider-finding-" + idx + "@2x.png 2x" alt="" title="")


section#finding.finding
  .c-grid
    .finding__wrapper

      +subtitle('finding', 'search')
      +title('finding', 'Start with finding the right leads')

  .c-grid-fluid
    .slider.slider--finding
      +swiper('swiper-container--finding', 'swiperFindingContent', true, true, false)

// FINDING :: END